<%= link_to "", hanterships_path(hant_id: hant.id),
                :class => "glyphicon glyphicon-thumbs-up black",
                :remote => true,
                :method => :post %>
<div class="like-count"><%= pluralize(hant.liked_users.count, "Like") %></div>
