<%= link_to "", hantership_path(current_user.hanterships.find_by(:hant_id => hant.id), hant_id: hant.id),
                :class => "glyphicon glyphicon-thumbs-up red",
                :remote => true, :method => :delete %>
<div class="like-count"><%= pluralize(hant.liked_users.count, "Like") %></div>
