<% content_for :head do %>
  <title><%= @space.title %> - SpaceHants</title>
  <meta name="description" content="<%= @space.title %>の編集ページです。スペース情報を編集できます。">
  <meta name="keywords" content="SpaceHants,Space,<%= @space.title %>">
<% end %>

<div class="container">
  <div class="container-inner inner-default clearfix">
    <%= render 'space_form' %>
  </div>
</div>
