<% content_for :head do %>
  <title>SpaceHants</title>
  <meta name="description" content="SpaceHantsのメインページ。">
  <meta name="keywords" content="SpaceHants">
<% end %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
