<% content_for :head do %>
  <title>オリジナルスペースランキング - SpaceHants</title>
  <meta name="description" content="オリジナルスペースランキングのページ。オリジナルスペースカテゴリーのスペースをランキングで表示しています。">
  <meta name="keywords" content="SpaceHants,Cafe,Ranking">
<% end %>

<div class="container">
  <div class="paginate-group" id="spaces-paginate-top">
    <%= render 'spaces/paginate', spaces: @spaces %>
  </div>
  <div class="container-inner inner-default clearfix">
    <div id="spaces">
      <%= render @spaces %>
    </div>
  </div>
  <div class="paginate-group" id="spaces-paginate-bottom">
    <%= render 'spaces/paginate', spaces: @spaces %>
  </div>
</div>
