.modal-header {
  background: #fafafa;
  .modal-title {
    font-size: 24px;
  }
}
.modal-body {
  textarea {
    min-height: 150px;
    max-height: 300px;
  }
}
.modal-footer {
  text-align: left;
}
