.map-box {
  max-width: 722px;
  margin: 15px auto;
  float: left;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  position: relative;
  .detail {
    height: 55px;
    .title {
      margin: 0;
      padding: 15px 20px;
      font-weight: normal;
      font-size: 20px;
      background: #fafafa;
      border: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .map-image {
    width: 720px;
    height: 520px;
    display: table;
    .map-wrap {
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}
