.user-profile {
  margin: 0 0 20px;
  .user-profile-box {
    padding: 20px 100px;
    background: #fff;
    .icon {
      width: 150px;
      height: 150px;
      margin: auto;
      img {
        border-radius: 100%;
        border: 5px solid #fff;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
      }
    }
    .profile-inner-box {
        h2 {
          margin-top: -1px;
          text-shadow: 1px 1px 1px #fff;
          font-weight: bold;
        }
        h5 {
          font-size: 16px;
          color: #808080;
        }
        p {
          font-size: 16px;
        }
    }
  }
  .status {
    text-align: center;
    ul {
      margin: 0 auto 10px;
      padding: 0;
      display: table;
      li {
        width: 120px;
        padding: 5px 0;
        border-right: 1px solid #ddd;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #777;
        &:last-child {
          border: none;
        }
        .status-label {
          font-size: 12px;
        }
        .status-value {
          font-size: 18px;
        }
      }
    }
  }
}
.box {
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  .box-title {
    margin: 0;
    padding: 15px 20px;
    font-weight: normal;
    background: #fafafa;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .box-inner {
    padding: 20px;
    textarea {
      max-height: 150px;
    }
    .checkbox.label {
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
