<% content_for :head do %>
  <title>Map - SpaceHants</title>
  <meta name="description" content="SpaceHantsの地図表示です。ユーザーがHantした場所を表示しています。">
  <meta name="keywords" content="SpaceHants,Map">
<% end %>

<div class="container">
  <div class="container-inner inner-default clearfix">
    <div class="map-box">
      <div class="detail">
        <form>
        	<label for="latitude">緯度</label>
        	<input type="text" id="latitude" size="20" />
        	<label for="longitude">経度</label>
        	<input type="text" id="longitude" size="20" />
        </form>
      </div>
      <div class="map-image">
        <div class="map-wrap">
          <div id="map" style='width: 700px; height: 500px;'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var lat = 35.681382, lon = 139.766084;
  $(document).ready(function(){
    if (navigator.geolocation) {
      // 現在の位置情報を取得
      navigator.geolocation.getCurrentPosition(
        function (pos) {
          lat = pos.coords.latitude;
          lon = pos.coords.longitude;
      		marker.setPosition(new google.maps.LatLng(lat, lon));
  		  }
  		);
  	}
  });
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
    handler.getMap().setCenter(new google.maps.LatLng(lat, lon));
  });
	var marker = new google.maps.Marker({
  	position: new google.maps.LatLng(lat, lon),
  	title: "現在地",
    infowindow: "現在地",
  	draggable: true,
		map: handler.getMap(),
	});
	google.maps.event.addListener( marker, 'dragend', function(ev){
		document.getElementById('latitude').value = ev.latLng.lat();
		document.getElementById('longitude').value = ev.latLng.lng();
	});
</script>
