<footer>
	<div class="language">
		<%= link_to_if params[:locale].present?, '日本語',
				url_for(controller: controller.controller_name, action: controller.action_name, locale: '') %>&emsp; |&emsp;
		<%= link_to_if params[:locale] != 'en',  'English',
				url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %>
	</div><br>
  <div class="copyright">© <%= Date.today.year %> SPACEHANTS.</div>
</footer>
